$my-palette: (
  50: #f5eaf6,
  100: #e6cae9,
  200: #d5a7db,
  300: #c483cc,
  400: #b869c1,
  500: #ab4eb6,
  600: #a447af,
  700: #9a3da6,
  800: #91359e,
  900: #80258e,
  A100: #f8ceff,
  A200: #f19bff,
  A400: #ea68ff,
  A700: #e64eff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// :root {
//   --50: #f5eaf6;
//   --100: #e6cae9;
//   --200: #d5a7db;
//   --300: #c483cc;
//   --400: #b869c1;
//   --500: #ab4eb6;
//   --600: #a447af;
//   --700: #9a3da6;
//   --800: #91359e;
//   --900: #80258e;
//   --A100: #f8ceff;
//   --A200: #f19bff;
//   --A400: #ea68ff;
//   --A700: #e64eff;
// }

// $my-palette: (
//   50: var(--50),
//   100: var(--100),
//   200: var(--200),
//   300: var(--300),
//   400: var(--400),
//   500: var(--500),
//   600: var(--600),
//   700: var(--700),
//   800: var(--800),
//   900: var(--900),
//   A100: var(--A100),
//   A200: var(--A200),
//   A400: var(--A400),
//   A700: var(--A700),
//   contrast: (
//     50: #000000,
//     100: #000000,
//     200: #000000,
//     300: #000000,
//     400: #000000,
//     500: #ffffff,
//     600: #ffffff,
//     700: #ffffff,
//     800: #ffffff,
//     900: #ffffff,
//     A100: #000000,
//     A200: #000000,
//     A400: #000000,
//     A700: #000000,
//   ),
// );
